 .pink {background-color:lightpink;
font-family:"Verdana","DejaVu","sans-serif";

}
.pink-3 {
    background-color:lightpink;
    font-size:24px;
}

#number-2 {
    color:blue;
    font-size:36px;
}

#number-4 {background-color:lightgreen;
    font-size:24px;
    font-weight:bold;
}


